<h4>Reserva</h4>
<hr/>

<form class="form-horizontal" ng-class="{'atmp-submit': atmpSubmit}" name="resv_form">

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <p class="form-control-static">
        {{outing.day.date | saddleLongDate}}
      </p>
      <p class="form-control-static">
        {{outing.time}} {{outing.name}}
      </p>
    </div>
  </div>

  <%= bs_fg_begin 'resv-skill-level', 'Cobrada' %>
    <div class="checkbox checkbox-inline">
      <label>
        <input ng-model="reservation.payed" type="checkbox"/>
      </label>
    </div>
  <%= bs_fg_end %>

  <%= bs_fg_begin 'resv-num-adults', 'Adults', columns:(1..6) %>
    <input ng-model="reservation.numAdults" required class="form-control" type="number" id="resv-num-adults">
  <%= bs_fg_end columns:(1..6)%>

  <%= bs_fg_begin 'resv-num-children', 'Nens', columns: (7..12) %>
    <input ng-model="reservation.numChildren" required class="form-control" type="number" id="resv-num-children">
  <%= bs_fg_end columns: (7..12)%>

  <%= bs_fg_begin 'resv-skill-level', 'Nivell' %>
    <input ng-model="reservation.skillLevel" class="form-control" type="text" id="resv-skill-level">
  <%= bs_fg_end %>

  <%= bs_fg_begin 'resv-name', 'Contacte' %>
    <input ng-model="reservation.name" class="form-control" type="text" id="resv-name">
  <%= bs_fg_end %>

  <%= bs_fg_begin 'resv-phone', 'Telèfon' %>
    <input ng-model="reservation.phone" class="form-control" type="text" id="resv-phone">
  <%= bs_fg_end %>

  <%= bs_fg_begin 'resv-comments', 'Observacions' %>
    <textarea ng-model="reservation.comments" type="tel" class="form-control" id="resv-comments"></textarea>
  <%= bs_fg_end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 text-right">
      <button type="button" ng-click="goBack()" class="btn btn-default">Cancel·lar</button>
      <button type="button" ng-click="submit()" class="btn btn-primary">Acceptar</button>
    </div>
  </div>
</form>
