<!DOCTYPE html>
<html>
<head>
  <title>Saddle</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

  <body class="<%=@must_render_navbar ? 'with-navbar' : ''%>">

    <%= if @must_render_navbar
          render "layouts/navbar"
        end
    %>
    <%= yield %>

  </body>

</html>
